button{
    background: green;
    color: #fff;
}
#para1{
    color:yellow;

}
#para2{
    color: red;
}
.content{
    color: navy;
    background: brown;
}
.outer-box{
    border: solid 1px;
    border-color: red;
    background: chartreuse;
    color: #fff;
    width: 300px;
    height: 200px;
}

.box{
    margin-left: 100px;
    padding-left: 50px;
}
.inner div{
    margin:10px;
    background: cornflowerblue;
    width: 200px;
    height: 100px;
}